<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
    title: "Profile",
    css: "login"
  })%>

<body>
  <header>
    <a href="discover"><img src="icons/compass.svg">Discover</a>
    <h1>Nerdr.profile()</h1>
    <a href="preferences"><img src="icons/settings.svg">Preferences</a>
  </header>
  <main>
    <section class="c-login-container">
      <h2 class="c-login__greeting">Hi <%- query.firstName %>!</h2>
      <blockquote cite="<%= query.permalink %>" class="c-login__greeting"><i><%- query.quote %></i> - <%- query.author %></blockquote>
      <a href="discover" class="button--secondary">Find new matches</a>
    </section>

    <section class="c-login-container">
      <p class="c-login__subheader">Here you can find all the people you matched with. Find out here what you can do for each other. See who your matches are!</p>
      <a href="matches" class="button--secondary">Find your matches</a>
    </section>

    <section class="c-login-container">
      <p class="c-login__subheader">You are a <span class="highlight"><%- query.personal.skillLevel %> <%- query.personal.occupation %></span> developer that writes in
        <% query.personal.languages.forEach(function(language){ %>
          <span class="highlight"><%= language %></span>
        <% }); %>.</p>

      <p class="c-login__subheader">You are registered with the email adress <span class="highlight">
          <%- query.email %></span>.</p>
      <p class="c-login__subheader">You are currently looking for a <span class="highlight">
          <%- query.preferences.skillLevel %>
          <%- query.preferences.occupation %></span> developer that writes in
        <% query.preferences.languages.forEach(function(language){ %>
        <span class="highlight">
          <%= language %></span>.
        <% }); %>
      </p>
      <a href="preferences" class="button--secondary">Change your preferences</a>
    </section>

    <form action="/update" method="post" class="c-login">
      <div class="c-login__input-container">
        <h3 class="c-login__subheader">Have you changed your skill level?</h3>
        <div class="c-login__radio-container">
          <input type="radio" name="skillLevel" value="amateur" id="amateur"
          <% if (query.personal.skillLevel === 'amateur') { %> checked <% } %>>
          <label for="amateur">Amateur</label>

          <input type="radio" name="skillLevel" value="intermediate" id="intermediate"
          <% if (query.personal.skillLevel === 'intermediate') { %> checked <% } %>>
          <label for="intermediate">Intermediate</label>

          <input type="radio" name="skillLevel" value="expert" id="expert"
          <% if (query.personal.skillLevel === 'expert') { %> checked <% } %>>
          <label for="expert">Expert</label>
        </div>

        <h3 class="c-login__subheader">Have you changed your occupation?</h3>
        <div class="c-login__radio-container">
          <input type="radio" name="occupation" value="frontEnd" id="frontEnd"
          <% if (query.personal.occupation === 'frontEnd') { %> checked <% } %>>
          <label for="frontEnd">Front-end</label>

          <input type="radio" name="occupation" value="backEnd" id="backEnd"
          <% if (query.personal.occupation === 'backEnd') { %> checked <% } %>>
          <label for="backEnd">Back-end</label>

          <input type="radio" name="occupation" value="fullStack" id="fullStack"
          <% if (query.personal.occupation === 'fullStack') { %> checked <% } %>>
          <label for="fullStack">Full-stack</label>
        </div>

        <h3 class="c-login__subheader">Have you learned new languages?</h3>
        <div class="c-login__radio-container">
          <input type="checkbox" name="languages" value="Javascript" id="javascript"
          <% if (query.personal.languages.includes('Javascript')) { %> checked <% } %>>
          <label for="javascript">Javascript</label>

          <input type="checkbox" name="languages" value="Java" id="java"
          <% if (query.personal.languages.includes('Java')) { %> checked <% } %>>
          <label for="java">Java</label>

          <input type="checkbox" name="languages" value="C" id="c"
          <% if (query.personal.languages.includes('C')) { %> checked <% } %>>
          <label for="c">C</label>

          <input type="checkbox" name="languages" value="Python" id="python"
          <% if (query.personal.languages.includes('Python')) { %> checked <% } %>>
          <label for="python">Python</label>

          <input type="checkbox" name="languages" value=".NET" id=".NET"
          <% if (query.personal.languages.includes('.NET')) { %> checked <% } %>>
          <label for=".NET">.NET</label>
        </div>
        <div class="c-login__password">
          <h3 class="c-login__subheader">Do you want to change your password?</h3>
          <label for="npassword">Enter your new password:</label>
          <input type="password" name="npassword" id="npassword" placeholder="New password">
        </div>
        <div class="c-login__button-container">
          <a class="button--secondary" href="/logout">Logout</a>
          <a class="button--danger" href="/deleteme">Delete</a>
          <button class="c-login__register-button" type="submit">Change</button>
        </div>
      </div>
    </form>
  </main>
</body>

</html>
